:root {
    --accent-1: #EF6B6B;
    --accent-2: #A5C450;
    --accent-3: #66D4E2;
    --accent-4: #B483EF;
    --accent-5: #F3A653;
    --accent-6: #335F69;
    --timing: .25s;
    --border-top: 5px;
}
body {
    background: #000;
    font-family: sans-serif;
}
nav {
    display: flex;
}
nav a {
    color: #fff;
    flex: 1;
    height: 0;
    overflow: hidden;
    transition: var(--timing) all;
}
nav a:nth-child(1) {
    border-top: var(--border-top) solid var(--accent-1);
}
nav a:nth-child(1) .content { 
    background: var(--accent-1);    
}
nav a:nth-child(2) {
    border-top: var(--border-top) solid var(--accent-2);
}
nav a:nth-child(2) .content { 
    background: var(--accent-2);    
}
nav a:nth-child(3) {
    border-top: var(--border-top) solid var(--accent-3);
}
nav a:nth-child(3) .content { 
    background: var(--accent-3);    
}
nav a:nth-child(4) {
    border-top: var(--border-top) solid var(--accent-4);
}
nav a:nth-child(4) .content { 
    background: var(--accent-4);    
}
nav a:nth-child(5) {
    border-top: var(--border-top) solid var(--accent-5);
}
nav a:nth-child(5) .content { 
    background: var(--accent-5);    
}
nav a:nth-child(6) {
    border-top: var(--border-top) solid var(--accent-6);
}
nav a:nth-child(6) .content { 
    background: var(--accent-6);    
}
nav a .content {
    opacity: 0;
    transition: var(--timing) all calc(var(--timing) / 2);
    transform: translateY(-100%);
}
nav a .content:before,
nav a .content:after {
  content: "";
  display: table;
}
nav a .content:after {
  clear: both;
}
nav a .content img {
    float: left;
    margin-right: 8px;
}
nav a .content h5 {
    margin: 0;
}
nav a:hover,
nav a:focus {
    border-top-width: 0;
    flex: 2;
    height: auto;
}
nav a:hover .content,
nav a:focus .content{
    height: auto;
    opacity: 1;
    transform: translateY(0);
}

/* TODO:
- Clean up card style
- Add reduced motion media styles
*/

/* Page styles */
.credit {
    position: absolute;
    bottom: 0;
    background: #fff;
    padding: 8px;
    margin: 8px;
    border-radius: 2px;
}